<% var root_path = function(){ if (current.path.length > 1) return '../'; return '';}%>

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Oswald:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= root_path() %>css/foundation.min.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
	<link rel="stylesheet" href="<%= root_path() %>css/main.css" />
	
    <script src="<%= root_path() %>js/vendor/modernizr.js"></script>
  </head>
  <body>
  <!-- Top bar -->
  
  <%- include _nav %>
  
  <br/>
  
  <div class="row">
	  <div class="small-12 medium-4 columns sidebar">
          <h3 class="logo"><a href="<%= root_path() %>index.html"><img src="<%= root_path() %>images/avatar.jpg"><br/>Fiore Basile</a></h3>
          <h4 id="fab_academy_2014">Fab Academy 2014</h4>
		  <div class="fablogos">		  
        	  <p><a href="http://fablabsitges.org"><img src="<%= root_path() %>images/bl.svg"><br/>Beach Lab Sitges</a></p>     
        	  <p><a href="http://fablabcascina.org"><img src="<%= root_path() %>images/logo_fablab_s.png"><br/>FabLab Cascina</a></p>     
		  </div>
	  </div>
	  <div class="small-12 medium-8 columns">
     	 <%- yield %>
 	 </div>
 </div>


 <hr>
 <div class="row">

     <div class="small-12 columns"> 
         <p class="text-center"><a href="<%= root_path() %>index.html">Home</a> | <a href="<%= root_path() %>about.html" class="">Profile</a> | <a href="<%= root_path() %>project/index.html">Final project</a> | <a href="<%= root_path() %>classes/index.html">Classes</a> | <a href="<%= root_path() %>contact.html" class="">Contacts</a></p>
     </div>
 
 </div>

 <div class="row">
	 <div class="small-12 columns text-center license">
	
		 <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
	 </div>
 </div>
      <script src="<%= root_path() %>js/vendor/jquery.js"></script>
      <script src="<%= root_path() %>js/foundation.min.js"></script>
      <script>
        $(document).foundation();
      </script>
    </body>
  </html>