<h3>Class assignments</h3>

<p>In this page I'll link the pages documenting my class assignments progress.

<ul class="classes">
<% items = public.classes._data.items %>
<% for (i in items) { %>
    <% pair = items[i]; title = pair[0]; slug = pair[1]; date = pair[2] || "na" %>
    <% if (slug.length > 0) { %>
 <li><a href="/classes/<%= slug %>.html"><span class="label"><%= date %></span><%= title %></a></li>
     <% } else { %>
   <li><span class="label"><%= date %></span><%= title %></li>      
   <% } %>
  
<% } %>
</ul>