<ul class="breadcrumbs">
	<li><a href="../index.html">Home</a></li>
	<li class="current"><a href="./index.html">Classes</a></li>
</ul>

<h1>Class assignments</h1>

<p class="text-center">In this page you can find my progress with class assignments.</p>

<ul class="classes">
<% items = public.classes._data.items %>
<% for (i in items) { %>
    <% pair = items[i]; title = pair[0]; slug = pair[1]; date = pair[2] || "na" ; done = pair[3] || false%>
    <% if (slug.length > 0) { %>
 <li><a href="./<%= slug %>.html"><span class="label <% if (done) { %> success <% } %>"><%= date %></span><%= title %></a></li>
     <% } else { %>
   <li><span class="label"><%= date %></span><%= title %></li>      
   <% } %>
  
<% } %>
</ul>